export(accum)
export(addIonSatistics)
export(addLoadings)
export(addRetentionAtApex)
export(addRetentionIndexTimeStatistics)
export(adjustBy)
export(adjusting)
export(adjustOne)
export(avrgLoading)
export(channelResponses)
export(copyLoadings)
export(factoring)
export(meetSelection)
export(mergeFrames)
export(norm2Reference)
export(pAction)
export(plotMePeptide)
export(plotMeProtein)
export(pRetention)
export(pVioline)
export(pVolcano)
export(responseStatisics)
export(selectByConfidence)
export(selectByEffect)
export(selectByFDR)
export(testForPeptideEffect)
export(testForProteinEffect)
export(testing)
export(testingOneshot)
export(testingTukey)
export(toAlpha)
export(toProportions)
import(foreach)
import(ggplot2)
import(plyr)
import(reshape2)
